<% provide(:title, 'Editar Perfil') %>
<%= render partial: "menu", locals: {tipo: "index"} %>
<article class="col-sm-9 col-xs-12">

  <h1>Editar Perfil</h1>

    <!-- edit form column -->

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <!-- left column -->
        <%= devise_error_messages! %>
        <section style="display: block;width: 720px;height: 178px">
          <%= image_tag(current_user.avatar.url(:original), class: "photo", style: "width:155px;height:155px" ) %>
          <div style="top: 125px;">
            <p><%= f.file_field :avatar %></p>
          </div>
        </section>

        <%= f.label :nome,style:"padding-right: 7px;" %>
        <%= f.text_field :nome, style: "width:300px;", disabled: true %>
        <br><br>

        <%= f.label :matricula,style:"padding-right: 7px;" %>
        <%= f.text_field :matricula, style: "width:300px;", disabled: true %>
        <br><br>

        <%= f.label "Nome de Tratamento",style:"padding-right: 7px;" %>
        <%= f.text_field :apelido, style: "width:289px;", disabled: true %>
        <br><br>

        <%= f.label :email,style:"padding-right: 7px;" %>
        <%= f.text_field :email, style: "width:289px;", disabled: true %>
        <br><br>

        <%= f.label :facebook_link,style:"padding-right: 7px;" %>
        <%= f.text_field :facebook_link, style: "width:278px;" %>
        <br><br>

        <%= f.label :github_link,style:"padding-right: 7px;" %>
        <%= f.text_field :github_link, style: "width:295px;" %>
        <br><br>

        <%= f.label "Nova Senha",style:"padding-right: 7px;" %>
        <%= f.text_field :password, style: "width:295px;", autocomplete: "off" %>
        <br><br>

        <%= f.label "Confirme a Nova Senha Senha",style:"padding-right: 7px;" %>
        <%= f.text_field :password_confirmation, style: "width:295px;", autocomplete: "off" %>
        <br><br>

        <%= f.label "Senha Atual",style:"padding-right: 7px;" %>
        <%= f.text_field :current_password, style: "width:295px;", autocomplete: "off" %>
        <br><br>
      <% Tag.uniq.pluck(:category).each do |categoria| %>
          <p>
            <%= f.label :tag_list, "Tags de %s:" % [categoria] %><br />
            <%= f.collection_check_boxes(:tag_ids, Tag.find_all_by_category(categoria), :id, :name) do |c| %>
                <%= c.label style:"padding-right:10px" do%>
                    <%=c.check_box + c.text%>
                <%end%>
            <% end %>
          </p>
      <% end %>
        <br><br>

        <p><%= f.submit "Salvar Alterações" %></p>

    <% end %>

</article>

<br style="clear: both">
