<div class="container"></div><div class="container">
  <h1>Editar Perfil</h1>
  <hr>
  <div class="row">
    <!-- left column -->
    <div class="col-md-3">
      <div class="text-center">
        <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
        <h6>Alterar foto...</h6>

        <input type="file" class="form-control">
      </div>
    </div>

    <!-- edit form column -->
    <div class="col-md-9 personal-info">
    <%= devise_error_messages! %>
      <h3>Informações pessoais</h3>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-horizontal" }) do |f| %>

        <div class="form-group">
          <%= f.label :nome, class: "col-lg-3 control-label" %>
          <div class="col-lg-8">
            <%= f.text_field :nome, class: "form-control", autofocus: true %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :apelido, class: "col-lg-3 control-label" %>
          <div class="col-lg-8">
            <%= f.text_field :apelido , class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :matricula, class: "col-lg-3 control-label" %>
          <div class="col-lg-8">
            <%= f.text_field :matricula , class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :email, class: "col-lg-3 control-label" %>
          <div class="col-lg-8">
            <%= f.email_field :email , class: "form-control" %>
          </div>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-group">
          <%= f.label :password, class: "col-lg-3 control-label" %>
          <div class="col-lg-8">
            <%= f.password_field :password , class: "form-control", autocomplete: "off" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, class: "col-lg-3 control-label" %>
          <div class="col-lg-8">
            <%= f.password_field :password_confirmation , class: "form-control", autocomplete: "off" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :current_password, class: "col-lg-3 control-label" %> <i>(we need your current password to confirm your changes)</i><br />
          <div class="col-lg-8">
            <%= f.password_field :current_password , class: "form-control", autocomplete: "off" %>
          </div>
        </div>

        <div><%= f.submit "Update" %></div>
    <% end %>
    <%= link_to "Back", :back %>
    </div>

  </div>
<hr>
</div>
