<aside class="col-sm-3 col-xs-6 sidebar-offcanvas">
  <ul class="menu">

    <li class="<%= verificaMenuAtivo(tipo,"home") %> oportunidades"><%= link_to 'Oportunidades', oportunidades_home_path %></li>
    <li class="<%= verificaMenuAtivo(tipo,"new") %> oportunidades"><%= link_to 'Anunciar Oportunidades', new_oportunidade_path %></li>
    <li class="<%= verificaMenuAtivo(tipo,"index") %> oportunidades"><%= link_to 'Visualizar Oportunidades', oportunidades_path %></li>
    <li class="<%= verificaMenuAtivo(tipo,"bolsas_permanencia") %> oportunidades"><%= link_to 'Bolsas Permanência',oportunidades_bolsas_permanencia_path %></li>
    <li class="<%= verificaMenuAtivo(tipo,"jovens_talentos")%> oportunidades"><%= link_to "Jovens Talentos", oportunidades_jovens_talentos_path %></li>
    <li class="<%= verificaMenuAtivo(tipo,"monitoria")%> oportunidades"><%= link_to "Monitoria" %></li>
    <li class="<%= verificaMenuAtivo(tipo,"iniciacao_cientifica")%> oportunidades"><%= link_to "Iniciação Científica" %></li>
    <li class="<%= verificaMenuAtivo(tipo,"ciencia_sem_fronteira")%> oportunidades"><%= link_to "Ciência Sem Fronteira" %></li>
    <li class="<%= verificaMenuAtivo(tipo,"mobilidade_academica_nacional")%> oportunidades"><%= link_to "Mobilidade Acadêmica Nacional" %></li>
    <li class="<%= verificaMenuAtivo(tipo,"new")%> empresa"><%= link_to 'Torne-se um Divulgador', new_empresa_path %></li>
  </ul>
</aside>
