<aside class="col-sm-3 col-xs-6 sidebar-offcanvas">
  <ul class="menu">
    <li class="<%= verificaMenuAtivo(tipo,"home") %> oportunidades"><%= link_to 'Oportunidades', oportunidades_home_path %></li>
    
    <% if user_signed_in? && (current_user.role == "administrador" || current_user.role == "representante_de_empresa") %>
         <li class="<%= verificaMenuAtivo(tipo,"new") %> oportunidades"><%= link_to 'Anunciar Oportunidades', new_oportunidade_path %></li>
    <% else %>
         <li class="hidden"><%= link_to 'Anunciar Oportunidades', new_oportunidade_path %></li> 
    <% end %> 

    <li class="<%= verificaMenuAtivo(tipo,"index") %> oportunidades"><%= link_to 'Visualizar Oportunidades', oportunidades_path %></li>
    <li class="<%= verificaMenuAtivo(tipo,"bolsas_permanencia") %> oportunidades"><%= link_to 'Bolsas Permanência',oportunidades_bolsas_permanencia_path %></li>
    <li class="<%= verificaMenuAtivo(tipo,"jovens_talentos")%> oportunidades"><%= link_to 'Jovens Talentos', oportunidades_jovens_talentos_path %></li>
    <li class="<%= verificaMenuAtivo(tipo,"monitoria")%> oportunidades"><%= link_to 'Monitoria', oportunidades_monitoria_path %></li>
    <li class="<%= verificaMenuAtivo(tipo,"iniciacao_cientifica")%> oportunidades"><%= link_to 'Iniciação Científica', oportunidades_iniciacao_cientifica_path %></li>
    <li class="<%= verificaMenuAtivo(tipo,"ciencia_sem_fronteira")%> oportunidades"><%= link_to 'Ciência Sem Fronteira', oportunidades_ciencia_sem_fronteira_path %></li>
    <li class="<%= verificaMenuAtivo(tipo,"mobilidade")%> oportunidades"><%= link_to 'Mobilidade Acadêmica', oportunidades_mobilidade_academica_path %></li>
    
    <% if !user_signed_in? %>
         <li class="<%= verificaMenuAtivo(tipo,"divulgador")%> empresa"><%= link_to 'Cadastrar Empresa', new_empresa_path %></li>
    <% else %>
         <li class="hidden"><%= link_to 'Cadastrar Empresa', new_empresa_path %></li>
    <% end %>
  </ul>
</aside>