<div class="container">
  <div class="row-offcanvas">

    <% if !flash[:notice].nil? %>
      <div class="alert alert-success hidethenotice" role="alert"><%= flash[:notice] %></div>
    <% end %>

    <%= render partial: "menu_oportunidades", locals: {tipo: 'index'} %>

     <h1>Oportunidades de Estágio</h1>

      <div id="tag_cloud">
       <% tag_cloud Oportunidade.tag_counts, %w{s m l} do |tag, css_class| %>
           <%= link_to tag.name, oportunidades_path(tag: tag.name), class: css_class %>
       <% end %>
      </div>

     <% @oportunidades.each do |oportunidade| %>
     
      <div class = "oportunidade" > 
         <%=image_tag oportunidade.picture_url(:thumb), :class => "img-position" if oportunidade.picture? %>
         <h2><%= link_to oportunidade.title, oportunidade %></h2>

         <% if oportunidade.currency != nil %>
         	<span> <h2> - Valor: <%= number_to_currency(oportunidade.currency, unit: "R$", spearator: ",", delimiter: "" )%></h2></span>
         <% else %>	
            <span class="hidden"> <h2> - Valor: <%= number_to_currency(oportunidade.currency, unit: "R$", spearator: ",", delimiter: "" )%></h2></span>
         <% end %>   

         <p> Ofertante: <%= oportunidade.company_name %></p>

         <% if user_signed_in? && current_user.role == "administrador" %>
                 <%= link_to 'Apagar', oportunidade, method: :delete, :class => "btn btn-primary btn_position" %>
         <% elsif user_signed_in? && current_user.role != "administrador" %> 
                 <%= link_to 'Apagar', oportunidade, method: :delete, :class => "hidden" %>
        <% end %>      
          
         <p>Tags: <%= raw oportunidade.tag_list.map { |t| link_to t, oportunidades_path(tag: t) }.join(', ') %></p>
         <p>Tipo: <%= oportunidade.type %></p>
      </div>
       
     <% end %> 
    <%= paginate @oportunidades %>
  </div>
</div>  


