<p><%= notice %></p>

<h2>Oportunidade: <%= @oportunidade.title %>
<p>Empresa: <%= @oportunidade.company_name %></p>
<p>Descrição: <%= @oportunidade.description %></p>


<%= link_to 'Ver outras oportunidades cadastradas', oportunidades_home_path %>