<p><%= notice %></p>

<h2>Oportunidade: <%= @oportunidade.title %>
<p>Empresa: <%= @oportunidade.company_name %></p>
<p>Descrição: <%= @oportunidade.description %></p>


<%= link_to 'Divulgar mais oportunidades', new_oportunidade_path %>