<p><%= notice %></p>
<article class="col-sm-9 col-xs-12">
<h2>Oportunidade: <%= @oportunidade.title %></h2>
<p>Empresa: <%= @oportunidade.company_name %></p>
<p>Descrição: <%= @oportunidade.description %></p>

<% if @oportunidade.has_partnership? %>
   <p>Convênio: Sim</p>
   <% else %>
   <p>Convênio: Não</p>
<% end %>

<p>Válido até o dia: <%= @oportunidade.expiration_date.strftime("%d/%m/%Y") %></p>
<p><%= image_tag @oportunidade.picture_url.to_s if @oportunidade.picture_url.present? %><p>

<%= link_to 'Ir para página de visualização de oportunidades', oportunidades_path%>
</article>


