<% provide(:title, 'BSI UNIRIO') %>
<div class="container">

  <div class="row-offcanvas">
    <%= render partial: "menu_bsi", locals: {tipo: "historico"} %>

    <article class="col-sm-9 col-xs-12">

      <h1>Histórico</h1>

      <p>O curso Bacharelado em Sistemas de Informação foi oferecido pela primeira vez no 2<sup>o</sup> semestre de 2000,
        com a primeira turma composta de 30 alunos. Ao final de 2004, o curso formou a sua primeira turma com nove graduados.
        Foi o primeiro curso vespertino/noturno de graduação em Informática em Universidades Públicas do
        Estado do Rio de Janeiro.</p>

      <p> O curso foi criado por uma Comissão Multidisciplinar designada pela Portaria n<sup>o</sup> 277, de 2 de julho de
        1998, que elaborou o seu <%= link_to "Projeto Acadêmico", asset_path("projeto_academico_inicial.pdf")  %>, e obteve
        aprovação pela
        <%= link_to "Resolução UNIRIO no 2.025", asset_path("resolucao_2025.pdf") %> de 12 de abril de 1999.
        Através da <%= link_to "Resolução UNIRIO n<sup>o</sup> 2.355", asset_path("resolucao_2355.pdf") %>, de 30 de abril de 2002,
        o curso de Bacharelado em Informática passou a ser denominado Bacharelado em Sistemas de Informação (BSI),
        denominação compatível com as Diretrizes Curriculares da Área de Computação e Informática – MEC/SESu.</p>

      <p>O curso de BSI foi reconhecido pela <%= link_to "Portaria MEC n<sup>o</sup> 3.799", asset_path("portaria_3799.pdf") %>,
        de 17 de novembro de 2004, publicada no Diário Oficial da União de 18 de novembro de
        2004, após <%= link_to "avaliação por Comissão do MEC", asset_path("avaliacao_inep.pdf") %>, realizada em maio
        de 2004. Em 2008, foi feita uma reforma curricular e um
        novo <%= link_to "Projeto Acadêmico", asset_path("projeto_academico_2008.pdf") %> foi elaborado.</p>

      <p>&nbsp;</p>
      <p>&nbsp;</p>

    </article>
  </div> <!-- row-offcanvas -->
</div> <!-- Container --> 
<br style="clear: both">
