<% provide(:title, 'BSI UNIRIO') %>
<div class="bsi navbar navbar-default" role="navigation">
	<div class="container">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
		<%= link_to "BSI-UNIRIO", root_path, class: "navbar-brand" %>
	</div> <!-- navbar-header -->
	</div> <!-- container -->
	<div class="navbar-collapse collapse">
          <ul class="nav navbar-nav menu">
            <li><%= link_to "Histórico", historico_path %></li>
            <li><%= link_to "Localização e Contato", localizacao_path %></li>
            <li><%= link_to "Depoimentos", depoimentos_path %></li>
          </ul>
    </div>
</div> <!-- navbar -->

<div class="container"> 

<div class="row-offcanvas">
<aside class="col-sm-3 col-xs-6 sidebar-offcanvas">
	<ul class="menu">
		<li class="ativo bsi"><%= link_to "BSI-UNIRIO", root_path %></li>
		<li><%= link_to "Histórico", historico_path %></li>
		<li><%= link_to "Localização e Contato", localizacao_path %></li>
		<li><%= link_to "Depoimentos", depoimentos_path %></li>
	</ul>
</aside>

<article class="col-sm-9 col-xs-12"> 

<h1> Bacharelado em Sistemas de Informa&ccedil;&atilde;o - UNIRIO </h1>

<blockquote>"O curso de Bacharelado em Sistemas de Informação visa a formação de profissionais da área de Computação 
e Informática para atuação em pesquisa, gestão, desenvolvimento, uso e avaliação de tecnologias de 
informação aplicadas nas organizações." (Currículo de Referência da SBC, 2003)</blockquote>

<p>O Bacharelado em Sistemas de Informação da UNIRIO é um curso vespertino/noturno de graduação com duração prevista de 4 anos, com carga horária total de 3.240 horas-aula em regime de crédito semestral. Atualmente o curso BSI-UNIRIO oferece 72 vagas anuais, com duas entradas semestrais de 36 alunos através do Sistema de Seleção Unificado (SiSU), que é o processo seletivo baseado no resultado do Exame Nacional do Ensino Médio (ENEM). 
</p>

<p>Sistemas de informação são descritos em termos de suas dimensões tecnológica, organizacional e humana, o que exige uma abordagem multidisciplinar. Nosso curso BSI-UNIRIO propicia uma formação básica sólida em Sistemas de Informação, Ciência da Computação e Matemática, além de propiciar formação com ênfase no estudo das tecnologias, das organizações e de fatores humanos.
</p>

<p>Os sistemas de informação baseados em computador são cada vez mais relevantes em nossa sociedade conectada.  
As organizações contemporâneas têm na tecnologia da informação um elemento estratégico uma vez que as 
soluções tecnológicas automatizam processos organizacionais através da coleta, armazenamento, processamento e disponibilização da informação.</p>

<p>O Bacharel em Sistemas de Informação possui um vasto campo de atuação podendo desempenhar funções de analista, projetista e programador de sistemas de informação; gerente de projetos em informática; e analista de suporte em ambientes computacionais.</p>

<p style="text-align: center;"><%= image_tag("sociedadeEmRede.png", alt: "Sociedade em Rede",class: "imagemIndex") %></p>


</article>  
</div> <!-- row-offcanvas -->
</div> <!-- Container --> 
<br style="clear: both">
