<div class="container">
<div class="row-offcanvas">
<aside class="col-sm-3 col-xs-6 sidebar-offcanvas">
  <ul class="menu">
    <li class="ativo professores"><a href="index.html">PROFESSORES</a></li>
    <li><a href="http://lattes.cnpq.br/1841338064901299" target="_blank">Adriana Alvim</a></li>
    <li><a href="http://lattes.cnpq.br/5998143228852295" target="_blank">Alexandre Andreatta</a></li>
    <li><a href="http://lattes.cnpq.br/2953646352903735" target="_blank">Alexandre Correa</a></li>
    <li><a href="http://lattes.cnpq.br/4763659817918925" target="_blank">Alexandre Silva</a></li>
    <li><a href="http://lattes.cnpq.br/8934031838766350" target="_blank">Asterio Tanaka</a></li>
    <li><a href="http://lattes.cnpq.br/4612726434879544" target="_blank">Angelo Ciarlini</a></li>
    <li><a href="http://lattes.cnpq.br/9097100603040676" target="_blank">Benur Girardi</a></li>
    <li><a href="http://lattes.cnpq.br/8020803376969953" target="_blank">Carlos Campos</a></li>
    <li><a href="http://lattes.cnpq.br/4930762936357558" target="_blank">Claudia Cappelli</a></li>
    <!--<li><a href="http://lattes.cnpq.br/7190321020308770" target="_blank">Celso Campos</a></li>-->
    <li><a href="http://lattes.cnpq.br/6183375000382666" target="_blank">Cristiane de Melo</a></li>
    <li><a href="http://lattes.cnpq.br/1619536438180209" target="_blank">Fabio Simas</a></li>
    <li><a href="http://lattes.cnpq.br/5068302552861597" target="_blank">Fernanda Baião</a></li>
    <li><a href="http://lattes.cnpq.br/5377746284077362" target="_blank">Flávia Santoro</a></li>
    <!--<li><a href="http://lattes.cnpq.br/6725560105680636" target="_blank">Glasdson Antunes</a></li>-->
    <li><a href="http://lattes.cnpq.br/4616202382103338" target="_blank">Gleison Santos</a></li>
    <li><a href="http://lattes.cnpq.br/2100358669537195" target="_blank">Geiza Hamazaki</a></li>
    <li><a href="http://lattes.cnpq.br/7653288098116734" target="_blank">José Ricardo Cereja</a></li>
    <li><a href="http://lattes.cnpq.br/0814717344017544" target="_blank">Kate Revoredo</a></li>
    <li><a href="http://lattes.cnpq.br/5067382475630761" target="_blank">Leila Andrade</a></li>
    <li><a href="http://lattes.cnpq.br/7214791464543522" target="_blank">Leonardo Azevedo</a></li>
    <li><a href="http://lattes.cnpq.br/7680212403415186" target="_blank">Leonardo Silvares</a></li>
    <li><a href="http://lattes.cnpq.br/123456789" target="_blank">Leonardo Rocha</a></li>
    <li><a href="http://lattes.cnpq.br/8226635424466952" target="_blank">Lucia Moutinho</a></li>
    <li><a href="http://lattes.cnpq.br/6449999607704237" target="_blank">Luiz Carlos Monte</a></li>
    <li><a href="http://lattes.cnpq.br/2170224269934506" target="_blank">Luzia Tonon</a></li>
    <li><a href="http://lattes.cnpq.br/0821562324429813" target="_blank">Márcio Barros</a></li>
    <li><a href="http://lattes.cnpq.br/1920411639358905" target="_blank">Mariano Pimentel</a></li>
    <li><a href="http://lattes.cnpq.br/1415781875529432" target="_blank">Morganna Diniz</a></li>
    <li><a href="http://lattes.cnpq.br/6178823954090208" target="_blank">Pedro Moura</a></li>
    <li><a href="http://lattes.cnpq.br/3589012014320121" target="_blank">Renata Araújo</a></li>
    <li><a href="http://lattes.cnpq.br/4446533675357859" target="_blank">Ronaldo Busse</a></li>
    <li><a href="http://lattes.cnpq.br/2562652838103607" target="_blank">Sean Siqueira</a></li>
    <li><a href="http://lattes.cnpq.br/7099151449971406" target="_blank">Sidney Lucena</a></li>
    <li><a href="http://lattes.cnpq.br/0926018459123736" target="_blank">Simone Leal Ferreira</a></li>
    <li><a href="http://lattes.cnpq.br/0398675521256529" target="_blank">Vânia Félix Dias</a></li>
  </ul>
</aside>

<article class="col-sm-9 col-xs-12">

<p class="pull-left visible-xs visible-sm">
  <button type="button" class="navbar-toggle" data-toggle="offcanvas">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="sr-only">Menu</span>
  </button>
</p>

<h1>Professores</h1>

<p id="info">O corpo docente do curso BSI é composto por professores altamente qualificados, quase todos doutores. Clique no professor e consulte seu currículo.<br>&nbsp;</p>

<div class="flex-container">
<section class="boxgrid caption">
  <%= image_tag "adriana.jpg", alt:"Adriana Alvim", class:"photo" %>
  <div class="cover boxcaption" style="top: 125px;">
    <h3 class="slidebox"><a href="http://lattes.cnpq.br/1841338064901299" target="_blank">Adriana Alvim</a></h3>
    <p class="correio">adriana<%= image_tag "uniriotecbr.gif" ,alt:"Adriana Alvim" ,class:"correioImage"%></p>
  </div>
</section>

<section class="boxgrid caption">
  <%= image_tag "andreatta.jpg", alt:"Alexandre Andreatta", class: "photo" %>
  <div class="cover boxcaption" style="top: 125px;">
    <a href="http://lattes.cnpq.br/5998143228852295" target="_blank"><h3 class="slidebox">Alexandre Andreatta</h3></a>
    <p class="correio">andreatt<%= image_tag "uniriotecbr.gif",alt: "Alexandre Andreatta", class: "correioImage"%></p>
  </div>
</section>

<section class="boxgrid caption">
  <%= image_tag "alexandrecorrea.jpg", alt:"Alexandre Correa", class: "photo" %>
  <div class="cover boxcaption" style="top: 125px;">
    <a href="http://lattes.cnpq.br/2953646352903735" target="_blank"><h3 class="slidebox">Alexandre Correa</h3></a>
    <p class="correio">alexandre.correa<%= image_tag 'uniriotecbr.gif',alt:"Alexandre Correa", class:"correioImage"%></p>
  </div>
</section>

<section class="boxgrid caption">
  <%= image_tag 'alexandresilva.jpg', alt:"Alexandre Silva",class: "photo"  %>
  <div class="cover boxcaption" style="top: 125px;">
    <a href="http://lattes.cnpq.br/4763659817918925" target="_blank"><h3 class="slidebox">Alexandre Silva</h3></a>
    <p class="correio">alexandre.silva<%= image_tag 'uniriotecbr.gif', alt:"Alexandre Silva", class:"correioImage"%></p>
  </div>
</section>

<section class="boxgrid caption">
  <%= image_tag 'tanaka.jpg',alt: "Asterio Tanaka", class: "photo" %>
  <div class="cover boxcaption" style="top: 125px;">
    <a href="http://lattes.cnpq.br/8934031838766350" target="_blank"><h3 class="slidebox">Asterio Tanaka</h3></a>
    <p class="correio">tanaka<%= image_tag 'uniriotecbr.gif', alt:"Asterio Tanaka", class:"correioImage"%></p>
  </div>
</section>

<section class="boxgrid caption">
  <%= image_tag 'angelo.jpg', alt: "Angelo Ciarlini", class: "photo" %>
  <div class="cover boxcaption" style="top: 125px;">
    <a href="http://lattes.cnpq.br/4612726434879544" target="_blank"><h3 class="slidebox">Angelo Ciarlini</h3></a>
    <p class="correio">angelo.ciarlini<%= image_tag 'uniriotecbr.gif', alt:"Angelo Ciarlini", class:"correioImage"%></p>
  </div>
</section>

<section class="boxgrid caption">
  <%= image_tag "benur.jpg", alt:"Benur Girardi", class: "photo"  %>
  <div class="cover boxcaption" style="top: 125px;">
    <a href="http://lattes.cnpq.br/9097100603040676" target="_blank"><h3 class="slidebox">Benur Girardi</h3></a>
    <p class="correio">girardi<%= image_tag 'uniriotecbr.gif', alt:"Benur Girardi", class:"correioImage"%></p>
  </div>
</section>

<section class="boxgrid caption">
  <%= image_tag "beto.jpg", alt:"Carlos Alberto Campos", class: "photo"  %>
    <div class="cover boxcaption" style="top: 125px;">
    <a href="http://lattes.cnpq.br/8020803376969953" target="_blank"><h3 class="slidebox">Carlos Campos</h3></a>
    <p class="correio">beto<%= image_tag 'uniriotecbr.gif', alt:"Carlos Alberto Campos", class:"correioImage"%></p>
  </div>
</section>

<section class="boxgrid caption">
  <%= image_tag "capelli.jpg", alt:"Claudia Cappelli",class: "photo"  %>
  <div class="cover boxcaption" style="top: 125px;">
    <a href="http://lattes.cnpq.br/4930762936357558" target="_blank"><h3 class="slidebox">Claudia Cappelli</h3></a>
    <p class="correio">claudia.cappelli<%= image_tag 'uniriotecbr.gif', alt:"Claudia Cappelli", class:"correioImage"%></p>
  </div>
</section>
<!--
<section class="boxgrid caption">
	<img src="celso.jpg" alt="Celso Campos" class="photo" >
	<div class="cover boxcaption" style="top: 125px;">
		<a href="http://lattes.cnpq.br/7190321020308770" target="_blank"><h3 class="slidebox">Celso Campos</h3></a>
		<p class="correio">celso.campos<img src="../uniriotecbr.gif" alt="Celso Campos" class="correioImage"></p>
	</div>
</section>
-->
<section class="boxgrid caption">
  <%= image_tag "cristiane.jpg", alt: "Cristiane de Melo", class: "photo" %>
    <div class="cover boxcaption" style="top: 125px;">
    <a href="http://lattes.cnpq.br/6183375000382666" target="_blank"><h3 class="slidebox">Cristiane de Melo</h3></a>
    <p class="correio">cristiane.mello<%= image_tag 'uniriotecbr.gif', alt:"Cristiane de Melo", class:"correioImage"%></p>
  </div>
</section>

<section class="boxgrid caption">
  <%= image_tag "fabio.jpg", alt: "Fabio Simas", class: "photo"%>
  <div class="cover boxcaption" style="top: 125px;">
    <a href="http://lattes.cnpq.br/1619536438180209" target="_blank"><h3 class="slidebox">Fabio Simas</h3></a>
    <p class="correio">fabio.simas<%= image_tag 'uniriotecbr.gif', alt: "Fabio Simas", class:"correioImage"%></p>
  </div>
</section>

<section class="boxgrid caption">
  <%= image_tag 'profile.jpg', alt:"Fernanda Baião", class: 'photo'  %>
  <div class="cover boxcaption" style="top: 125px;">
    <a href="http://lattes.cnpq.br/5068302552861597" target="_blank"><h3 class="slidebox">Fernanda Baião</h3></a>
    <p class="correio">fernanda.baiao<%= image_tag 'uniriotecbr.gif', alt:"Fernanda Baião", class:"correioImage"%></p>
  </div>
</section>

<section class="boxgrid caption">
  <%= image_tag "flavia.jpg",alt: "Flávia Santoro", class: "photo" %>
  <div class="cover boxcaption" style="top: 125px;">
    <a href="http://lattes.cnpq.br/5377746284077362" target="_blank"><h3 class="slidebox">Flávia Santoro</h3></a>
    <p class="correio">flavia.santoro<%= image_tag 'uniriotecbr.gif', alt:"Flávia Santoro", class:"correioImage"%></p>
  </div>
</section>
<!--
<section class="boxgrid caption">
	<img src="gladson.jpg" alt="Glasdson Antunes" class="photo" >
	<div class="cover boxcaption" style="top: 125px;">
		<a href="http://lattes.cnpq.br/6725560105680636" target="_blank"><h3 class="slidebox">Glasdson Antunes</h3></a>
		<p class="correio">gladson.antunes<img src="../uniriotecbr.gif" alt="Glasdson Antunes" class="correioImage"></p>
	</div>
</section>
-->
<section class="boxgrid caption">
  <%= image_tag "gleison.jpg", alt:"Gleison Santos", class: "photo"  %>
  <div class="cover boxcaption" style="top: 125px;">
    <a href="http://lattes.cnpq.br/4616202382103338" target="_blank"><h3 class="slidebox">Gleison Santos</h3></a>
    <p class="correio">gleison.santos<%= image_tag 'uniriotecbr.gif', alt:"Gleison Santos", class:"correioImage"%></p>
  </div>
</section>

<section class="boxgrid caption">
  <img src="geiza.jpg" alt="Geiza Hamazaki" class="photo" >
  <div class="cover boxcaption" style="top: 125px;">
    <a href="http://lattes.cnpq.br/2100358669537195" target="_blank"><h3 class="slidebox">Geiza Hamazaki</h3></a>
    <p class="correio">geiza.hamazaki<img src="../uniriotecbr.gif" alt="Geiza Hamazaki" class="correioImage"></p>
  </div>
</section>

<!--
<section class="boxgrid caption">
	<img src="profile.jpg" alt="Helisson Coutinho" class="photo" >
	<div class="cover boxcaption" style="top: 125px;">
		<a href="http://lattes.cnpq.br/6452434384067273" target="_blank"><h3 class="slidebox">Helisson Coutinho</h3></a>
		<p class="correio">helisson<img src="../uniriotecbr.gif" alt="Helisson Coutinho" class="correioImage"></p>
	</div>
</section>
-->

<section class="boxgrid caption">
  <img src="cereja.jpg" alt="José Ricardo Cereja" class="photo" >
  <div class="cover boxcaption" style="top: 125px;">
    <a href="http://lattes.cnpq.br/7653288098116734" target="_blank"><h3 class="slidebox">José Ricardo Cereja</h3></a>
    <p class="correio">ricardo.cereja<img src="../uniriotecbr.gif" alt="José Ricardo Cereja" class="correioImage"></p>
  </div>
</section>

<section class="boxgrid caption">
  <img src="kate.jpg" alt="Kate Revoredo" class="photo" >
  <div class="cover boxcaption" style="top: 125px;">
    <a href="http://lattes.cnpq.br/0814717344017544" target="_blank"><h3 class="slidebox">Kate Revoredo</h3></a>
    <p class="correio">katerevoredo<img src="../uniriotecbr.gif" alt="Kate Revoredo" class="correioImage"></p>
  </div>
</section>

<section class="boxgrid caption">
  <img src="leila.jpg" alt="Leila Andrade" class="photo" >
  <div class="cover boxcaption" style="top: 125px;">
    <a href="http://lattes.cnpq.br/5067382475630761" target="_blank"><h3 class="slidebox">Leila Andrade</h3></a>
    <p class="correio">leila<img src="../uniriotecbr.gif" alt="Leila Andrade" class="correioImage"></p>
  </div>
</section>

<section class="boxgrid caption">
  <img src="azevedo.jpg" alt="Leonardo Azevedo" class="photo" >
  <div class="cover boxcaption" style="top: 125px;">
    <a href="http://lattes.cnpq.br/7214791464543522" target="_blank"><h3 class="slidebox">Leonardo Azevedo</h3></a>
    <p class="correio">azevedo<img src="../uniriotecbr.gif" alt="Leonardo Azevedo" class="correioImage"></p>
  </div>
</section>

<section class="boxgrid caption">
  <img src="leonardosilvares.jpg" alt="Leonardo Silvares" class="photo" >
  <div class="cover boxcaption" style="top: 125px;">
    <a href="http://lattes.cnpq.br/7680212403415186" target="_blank"><h3 class="slidebox">Leonardo Silvares</h3></a>
    <p class="correio">leo.silvares<img src="../uniriotecbr.gif" alt="Leonardo Silvares" class="correioImage"></p>
  </div>
</section>

<section class="boxgrid caption">
  <img src="leorocha.jpg" alt="Leonardo Rocha" class="photo" >
  <div class="cover boxcaption" style="top: 125px;">
    <a href="http://lattes.cnpq.br/123456789" target="_blank"><h3 class="slidebox">Leonardo Rocha</h3></a>
    <p class="correio">leonardo<img src="../uniriotecbr.gif" alt="Leonardo Rocha" class="correioImage"></p>
  </div>
</section>

<section class="boxgrid caption">
  <img src="lucia.jpg" alt="Lucia Moutinho" class="photo" >
  <div class="cover boxcaption" style="top: 125px;">
    <a href="http://lattes.cnpq.br/8226635424466952" target="_blank"><h3 class="slidebox">Lucia Moutinho</h3></a>
    <p class="correio">luciamoutinho<img src="../uniriotecbr.gif" alt="Lucia Moutinho" class="correioImage"></p>
  </div>
</section>

<section class="boxgrid caption">
  <img src="monte.jpg" alt="Luiz Carlos Monte" class="photo" >
  <div class="cover boxcaption" style="top: 125px;">
    <a href="http://lattes.cnpq.br/6449999607704237" target="_blank"><h3 class="slidebox">Luiz Carlos Monte</h3></a>
    <p class="correio">luiz.monte<img src="../uniriotecbr.gif" alt="Luiz Carlos Monte" class="correioImage"></p>
  </div>
</section>

<section class="boxgrid caption">
  <img src="luzia.jpg" alt="Luzia Tonon" class="photo" >
  <div class="cover boxcaption" style="top: 125px;">
    <a href="http://lattes.cnpq.br/2170224269934506" target="_blank"><h3 class="slidebox">Luzia Tonon</h3></a>
    <p class="correio">luzia.tonon<img src="../uniriotecbr.gif" alt="Luzia Tonon" class="correioImage"></p>
  </div>
</section>

<section class="boxgrid caption">
  <img src="marcio.jpg" alt="Márcio Barros" class="photo" >
  <div class="cover boxcaption" style="top: 125px;">
    <a href="http://lattes.cnpq.br/0821562324429813" target="_blank"><h3 class="slidebox">Márcio Barros</h3></a>
    <p class="correio">marcio.barros<img src="../uniriotecbr.gif" alt="Márcio Barros" class="correioImage"></p>
  </div>
</section>

<section class="boxgrid caption">
  <img src="pimentel.jpg" alt="Mariano Pimentel" class="photo" >
  <div class="cover boxcaption" style="top: 125px;">
    <a href="http://lattes.cnpq.br/1920411639358905" target="_blank"><h3 class="slidebox">Mariano Pimentel</h3></a>
    <p class="correio">pimentel<img src="../uniriotecbr.gif" alt="Mariano Pimentel" class="correioImage"></p>
  </div>
</section>

<section class="boxgrid caption">
  <img src="morganna.jpg" alt="Moraganna Diniz" class="photo" >
  <div class="cover boxcaption" style="top: 125px;">
    <a href="http://lattes.cnpq.br/1415781875529432" target="_blank"><h3 class="slidebox">Morganna Diniz</h3></a>
    <p class="correio">morganna<img src="../uniriotecbr.gif" alt="Morganna Diniz" class="correioImage"></p>
  </div>
</section>

<section class="boxgrid caption">
  <img src="pedro.jpg" alt="Pedro Moura" class="photo" >
  <div class="cover boxcaption" style="top: 125px;">
    <a href="http://lattes.cnpq.br/6178823954090208" target="_blank"><h3 class="slidebox">Pedro Moura</h3></a>
    <p class="correio">pedro.moura<img src="../uniriotecbr.gif" alt="Pedro Moura" class="correioImage"></p>
  </div>
</section>

<section class="boxgrid caption">
  <img src="renata.jpg" alt="Renata Araújo" class="photo" >
  <div class="cover boxcaption" style="top: 125px;">
    <a href="http://lattes.cnpq.br/3589012014320121" target="_blank"><h3 class="slidebox">Renata Araújo</h3></a>
    <p class="correio">renata.araujo<img src="../uniriotecbr.gif" alt="Renata Araújo" class="correioImage"></p>
  </div>
</section>

<section class="boxgrid caption">
  <img src="ronaldo.jpg" alt="Ronaldo Busse" class="photo" >
  <div class="cover boxcaption" style="top: 125px;">
    <a href="http://lattes.cnpq.br/4446533675357859" target="_blank"><h3 class="slidebox">Ronaldo Busse</h3></a>
    <p class="correio">ronaldo.busse<img src="../uniriotecbr.gif" alt="Ronaldo Busse" class="correioImage"></p>
  </div>
</section>

<section class="boxgrid caption">
  <img src="sean.jpg" alt="Sean Siqueira" class="photo" >
  <div class="cover boxcaption" style="top: 125px;">
    <a href="http://lattes.cnpq.br/2562652838103607" target="_blank"><h3 class="slidebox">Sean Siqueira</h3></a>
    <p class="correio">sean<img src="../uniriotecbr.gif" alt="Sean Siqueira" class="correioImage"></p>
  </div>
</section>

<section class="boxgrid caption">
  <img src="sidney.jpg" alt="Sidney Lucena" class="photo" >
  <div class="cover boxcaption" style="top: 125px;">
    <a href="http://lattes.cnpq.br/7099151449971406" target="_blank"><h3 class="slidebox">Sidney Lucena</h3></a>
    <p class="correio">sidney<img src="../uniriotecbr.gif" alt="Sidney Lucena" class="correioImage"></p>
  </div>
</section>

<section class="boxgrid caption">
  <img src="simone.jpg" alt="Simone Leal Ferreira" class="photo" >
  <div class="cover boxcaption" style="top: 125px;">
    <a href="http://lattes.cnpq.br/0926018459123736" target="_blank"><h3 class="slidebox">Simone Ferreira</h3></a>
    <p class="correio">simone<img src="../uniriotecbr.gif" alt="Simone Leal Ferreira" class="correioImage"></p>
  </div>
</section>

<section class="boxgrid caption">
  <img src="vania.jpg" alt="Vânia Féliz Dias" class="photo" >
  <div class="cover boxcaption" style="top: 125px;">
    <a href="http://lattes.cnpq.br/0398675521256529" target="_blank"><h3 class="slidebox">Vânia Félix Dias</h3></a>
    <p class="correio">vania<img src="../uniriotecbr.gif" alt="Vânia Félix Dias" class="correioImage"></p>
  </div>
</section>

</div>
</article>
</div> <!-- row-offcanvas -->
</div> <!-- Container -->
<br style="clear: both">