<% provide(:title,"Secretaria BSI") %>
    <aside class="col-sm-3 col-xs-6 sidebar-offcanvas">
      <ul class="menu">
        <li class="ativo secretaria"><%= link_to "Secretaria", secretaria_path %></li>
        <% if user_signed_in? %>
            <li>
              <%= link_to "Nova Solicitação", new_solicitation_path %>
            </li>
            <% if current_user.admin? %>
                <li>
                  <%= link_to "Solicitações", solicitations_path %>
                </li>
                <li>
                  <%= link_to "Cadastrar Usuário", new_user_path %>
                </li>
            <% end %>
        <% end %>
      </ul>
    </aside>


    <article class="col-sm-9 col-xs-12">

      <p class="pull-left visible-xs visible-sm">
        <button type="button" class="navbar-toggle" data-toggle="offcanvas">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="sr-only">Menu</span>
        </button>
      </p>

      <h1>Secretaria</h1>

      <p>A secretaria é onde os alunos dão entrada a todos os processos relacionados ao curso: matrícula em disciplinas, pedido de histórico escolar, declarações etc.</p>

      <section class="boxgrid caption">
        <%= image_tag("douglas.jpg",alt: "Douglas Brito", class: "photo") %>
        <div class="cover boxcaption" style="top: 130px;">
          <a href="" target="_blank"><h3 class="slidebox">Douglas Brito</h3></a>
          <p class="correio">douglas.brito@uniriotec.br</p>
        </div>
      </section>
      <p>Horário de Funcionamento: 14h às 20h<br>
        Telefone: (21)3873-6400<br>
        Falar com Douglas Brito (douglas.brito@uniriotec.br)</p>

      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>

    </article>
<br style="clear: both">

