<% provide(:title, 'Cadastro') %>
<%= render partial: "menu", locals: {tipo: "login"} %>
<article class="col-sm-9 col-xs-12">
  <section id="content">

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'form-signin'}) do |f| %>

      <h4>Login Aluno</h4>
      <div>
        <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
      </div>
      <div>
        <%= f.password_field :password, autocomplete: "off", placeholder: "Senha" %>
      </div>
      <div>
        <% if devise_mapping.rememberable? -%>
            <div><%= f.check_box :remember_me %> <%= f.label "Mantenha-me conectado" %></div>
        <% end -%>
        <%= f.submit "Log in" %>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
    </section>
</article>

<br style="clear: both">
