<%= form_for(@solicitation) do |f| %>
  <% if @solicitation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@solicitation.errors.count, "error") %> prohibited this solicitation from being saved:</h2>

      <ul>
      <% @solicitation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Tipo de Solicitação" %><br>
    <%= f.select :solicitacao_tipos_id, options_from_collection_for_select(@solicitation_tipo.all,:id,:tipo,@solicitation.solicitacao_tipo),include_blank: false %>
  </div>
  <div class="field">
    <%= f.label "Observação" %><br>
    <%= f.text_area :observacao, style: "height:215px; max-height:215px; width:717px; max-width:717px"  %>
  </div>
  <div class="actions">
    <%= f.submit "Salvar Solicitação" %>
  </div>
<% end %>
