<% provide(:title,"Solicitações") %>
<%= render partial: "menu", locals: {tipo: "solicitacoes"} %>

<article class="col-sm-9 col-xs-12">
<h1>Listing solicitations</h1>

<table>
  <thead>
    <tr>
      <th>Solicitacao tipos</th>
      <th>User</th>
      <th>Observacao</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @solicitations.each do |solicitation| %>
      <tr>
        <td><%= RetornaTipoSolicitacao(solicitation.solicitacao_tipos_id) %></td>
        <td><%= RetornaUserName(solicitation.user_id) %></td>
        <td><%= solicitation.observacao %></td>
        <td><%= link_to 'Show', solicitation %></td>
        <td><%= link_to 'Edit', edit_solicitation_path(solicitation) %></td>
        <td><%= link_to 'Destroy', solicitation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Solicitation', new_solicitation_path %>
</article>

<br style="clear: both">