<% provide(:title,"Solicitações") %>
<%= render partial: "menu", locals: {tipo: "solicitacoes"} %>
<article class="col-sm-9 col-xs-12">

<p>
  <strong>Tipo de Solicitação:</strong>
  <%= RetornaTipoSolicitacao(@solicitation.solicitacao_tipos_id) %>
</p>

<p>
  <strong>Observação:</strong>
  <%= @solicitation.observacao %>
</p>

<p>
    <strong>Usuário:</strong>
    <%= RetornaUserName(@solicitation.user_id) %>
</p>

<%= link_to 'Voltar', secretaria_path %>
</article>

<br style="clear: both">