<footer> 
    <div id="RodapeMenu">
    	<div id="facebook"><a href="https://www.facebook.com/bsiunirio"><%= image_tag("iFacebook.png", alt: "Facebook") %></a></div>
		<ul>
			<li><%= link_to "BSI", root_path %>
			<li><%= link_to "DISCIPLINAS", disciplinas_path %>
			<li><%= link_to "PROFESSORES", professores_path %>
			<li><%= link_to "ALUNOS", alunos_path %>
			<li><%= link_to "OPORTUNIDADES", oportunidades_path %>
			<li><%= link_to "TCC", tccs_path %>
			<li><%= link_to "SECRETARIA", secretaria_path %>
			<li><%= link_to "INSTITUCIONAL", institucional_path %>
			<li><%= link_to "NOTÃCIAS", noticias_path %>
		</ul>
	</div>	

	<div id="RodapeLocalizacao"><p><a href="https://maps.google.com.br/maps?q=bsi+unirio&hl=pt&ll=-22.916026,-43.2724&spn=0.343422,0.676346&sll=-22.916032,-43.447416&sspn=0.343422,0.676346&hq=bsi+unirio&t=m&z=11&iwloc=A" id="imgLocal"><%= image_tag("iLocal.png", alt: "mapa") %>CCET - Avenida Pasteur, 458 - Urca - Rio de Janeiro / RJ - CEP: 22290-240</a>
		<br>
		Telefone: (21)3873-6400</p>
	</div>		
</footer>