<header>
  <div class="container">
    <nav>
      <%= link_to(root_path) do %>
          <div class="iconeAtivo grande bsi"><p class="subtitle"><%= image_tag("iBSI.png", alt: "bsi",class: "tamanhoBsi") %><br><span class="titleBSI">BACHARELADO&nbsp;&nbsp;EM<br><span class="subtitleGrande">SISTEMAS&nbsp;DE<br>INFORMA&Ccedil;&Atilde;O</span></span></div>
      <%end%>
      <div style="float:left;">
        <%= link_to (disciplinas_path) do %>
            <div class="icone normal disciplinas"><p class="subtitle"><%= image_tag("iDisciplinas.png", alt: "disciplinas",class: "icon") %><br>DISCIPLINAS</p></div>
        <%end%>
        <%= link_to (alunos_path) do %>
            <div class= "icone largo alunos"><p class="subtitle"><%= image_tag("iAlunos.png", alt: "alunos") %><br>ALUNOS</p></div>
        <%end%>
        <%= link_to (tccs_path) do %>
            <div class="icone normal tcc"><p class="subtitle"><%= image_tag("iTCC.png", alt: "Trabalho de Conclusão de Curso",class: "icon") %><br>TCC</p></div>
        <%end%>
        <br style="clear: both;">
        <%= link_to (professors_path) do %>
            <div class= "icone normal professores"><p class="subtitle"><%= image_tag("iProfessores.png", alt: "Professores",class: "icon") %><br>PROFESSORES</p></div>
        <%end%>
        <%= link_to (oportunidades_path) do %>
            <div class= "icone normal oportunidades"><p class="subtitle"><%= image_tag("iOportunidades.png", alt: "oportunidades",class: "icon") %><br>OPORTUNIDADES</p></div>
        <%end%>
        <%= link_to (secretaria_path) do %>
            <div class= "icone normal secretaria"><p class="subtitle"><%= image_tag("iSecretaria.png", alt: "secretaria",class: "icon") %><br>SECRETARIA</p></div>
        <%end%>
        <%= link_to (institucional_path) do %>
            <div class= "icone normal institucional"><p class="subtitle"><%= image_tag("iInstitucional.png", alt: "institucional") %><br>INSTITUCIONAL</p></div>
        <%end %>
      </div>
      <%= link_to (noticias_path)  do %>
          <div class="noticias icone grande semMargem"><p class="subtitle subtitleGrande"><%= image_tag("iNoticias.png", alt: "notícias") %><br>NOT&Iacute;CIAS</p></div>
      <%end%>

      <div>
          <% if !user_signed_in? %>
            <%= form_for(:user, :url => session_path(:user), :html => {class: 'navbar-form navbar-right'}) do |f| %>
                <div class="form-group">
                    <%= f.text_field :email, class: "form-control"%>
                </div>
                <div class="form-group">
                  <%= f.password_field :password, class: "form-control" %>
                </div>
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
                <%= f.submit 'Sign in', class: "btn btn-success" %>
                <%= link_to "Forgot your password?", new_password_path(:user) %>
            <% end %>
          <% else %>
            <label style="margin-top: 25px">Olá <%= current_user.nome %></label>
            <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
          <% end %>
      </div>
    </nav>
  </div>
</header>
