    <% if @tcc.errors.any? %>
        <div id="error_explanation" class="col-sm-9 col-xs-12">
          <h2>Infelizmente não foi possível completar a ação pois o formulário possui os seguintes erros:</h2>
          <ul>
            <% @tcc.errors.full_messages.each do |message|%>
                <li><%= message %> </li>
            <% end %>
          </ul>
        </div>
    <% end %>

  <%= form_for @tcc do |f| %>
        <p>
          <%= f.label "Segundo Autor", style: "padding-right: 2px;" %>
          <%= f.collection_select(:user_id, User.where("tcc_id is NULL and id != ?", current_user.id ), :id, :nome, :include_blank => true) %>
          <% if @tcc.errors.has_key? :orientador %>
            <div class="error_message">
              <%= @tcc.errors[:orientador].first %>
            </div>
        <% end %>
        </p>
        <p>
      <%= f.label :titulo, style: "padding-right: 7px;" %> <%= f.text_field :titulo, style: "width:639px;" %><br><br>
      <%= f.label :resumo, style: "padding-right: 17px;" %> <%= f.text_area :resumo, style: "height:215px; max-height:215px; width:693px; max-width:693px" %><br><br>
        <%= f.label :orientador, style: "padding-right: 2px;" %>
        <%= f.select :orientador, options_from_collection_for_select(@prof.all,:id,:nome,@tcc.orientador),include_blank: true %>
        <% if @tcc.errors.has_key? :orientador %>
          <div class="error_message">
            <%= @tcc.errors[:orientador].first %>
          </div>
      <% end %>
        <%= f.label :coorientador,style: "padding-right: 2px;margin-left: 50px" %>
        <%= f.text_field :coorientador %>
        <% if @tcc.errors.has_key? :coorientador %>
          <div class="error_message">
            <%= @tcc.errors[:coorientador].first %>
          </div>
      <% end %>
        </p>
      <p style="padding-top: 2px">
        <%= f.label :data, style: "padding-right: 10px;" %>
        <%= f.date_select :data, style: "margin: 0 4px 0 2px; width: 25px" %>
        <% if @tcc.errors.has_key? :data %>
          <div class="error_message">
            <%= @tcc.errors[:data].first %>
          </div>
      <% end %>
        <%= f.label :local, style:"padding-right: 2px;margin-left:15px" %>
        <%= f.text_field :local, value: "sala", style:"margin-left:57px" %>
        <% if @tcc.errors.has_key? :local %>
          <div class="error_message">
            <%= @tcc.errors[:local].first %>
          </div>
      <% end %>
      </p>
        <% Tag.uniq.pluck(:category).each do |categoria| %>
            <p>
                <%= f.label :tag_list, "Tags de %s:" % [categoria] %><br />
                <%= f.collection_check_boxes(:tag_ids, Tag.find_all_by_category(categoria), :id, :name) do |c| %>
                  <%= c.label style:"padding-right:10px" do%>
                      <%=c.check_box + c.text%>
                  <%end%>
                <% end %>
            </p>
        <% end %>
      <p>
        <%= f.submit "Salvar TCC" %>
      </p>
  <% end %>