<aside class="col-sm-3 col-xs-6 sidebar-offcanvas">
  <ul class="menu">
    <li class="<%= verificaMenuAtivo(tipo,"index") %> tcc"><%= link_to 'TCC', tccs_path %></li>
    <li class="<%= verificaMenuAtivo(tipo,"tipos") %> tcc"><%= link_to 'Tipos de TCC', tccs_tipos_path %></li>
    <li class="<%= verificaMenuAtivo(tipo,"processo")%> tcc"><%= link_to "Processo", tccs_processo_path%></li>
    <li class="<%= verificaMenuAtivo(tipo,"modelo")%> tcc"><%= link_to "Modelo",tccs_modelo_path%></li>
    <li class="<%= verificaMenuAtivo(tipo,"publicacoes")%> tcc"><%= link_to "Publicações", tccs_publicacoes_path %></li>
    <li class="<%= verificaMenuAtivo(tipo,"agenda")%> tcc"><%= link_to "Próximas Defesas", tccs_agenda_path %></li>
    <% if user_signed_in? %>
        <% tccId = current_user.tcc_id %>
        <% if tccId.nil? || tccId == 0 %>
            <li class="<%= verificaMenuAtivo(tipo,"new")%> tcc"><%= link_to "Meu Tcc", tccs_show_empty_path %></li>
        <% else %>
            <li class="<%= verificaMenuAtivo(tipo,"show")%> tcc"><%= link_to "Meu Tcc", tcc_path(tccId) %></li>
        <%end %>
    <%end %>
  </ul>
</aside>
