<aside class="col-sm-3 col-xs-6 sidebar-offcanvas">
  <ul class="menu">
    <li class="<%= verificaTipo(tipo,"home") %>" ><%= link_to 'TCC', tccs_home_path %></li>
    <li class="<%= verificaTipo(tipo,"tipos") %>" ><a href="tipos.html">Tipos de TCC</a></li>
    <li class="<%= verificaTipo(tipo,"processo")%>" ><a href="processo.html">Processo</a></li>
    <li class="<%= verificaTipo(tipo,"modelo")%>" ><a href="modelo.html">Modelo</a></li>
    <li class="<%= verificaTipo(tipo,"projetos")%>" ><a href="projetos.html">Projetos para TCC</a></li>
    <li class="<%= verificaTipo(tipo,"publicacoes")%>" ><a href="publicacoes.html">Publicações</a></li>
    <li class="<%= verificaTipo(tipo,"agenda")%>" ><a href="agenda.html">Próximas Defesas</a></li>
    <li class="<%= verificaTipo(:tipo,"cadastro")%>" ><%= link_to "Cadastro de Tcc", new_tcc_path %></li>
    <li class="<%= verificaTipo(tipo,"lista")%>"><%= link_to "Listar Tccs", tccs_path %></li>
  </ul>
</aside>
