
<%= render partial: "menu", locals: {tipo: 'show'} %>

<article class="col-sm-9 col-xs-12">
  <%= @tcc.titulo %>
<!--<% if @tcc.errors.any? %>
    <div id="error_explanation">
      <h2>Infelizmente não foi possível completar a ação pois o formulário possui os seguintes erros:</h2>
      <ul>
        <% @tcc.errors.full_messages.each do |message|%>
            <li><%= message %> </li>
        <% end %>
      </ul>
    </div>
<% end %>-->
  <p> Essa página irá realizar a publicação do seu TCC, ação que não poderá ser desfeita! Por isso reveja os dados e
  o arquivo que está sendo enviado para o site</p>
  <p> Por isso tenha certeza do arquivo que você está enviando e se tudo está correto</p>
  <p> Caso algum problema aconteça entre em contato com o administrador do sistema</p>

<%= form_for @tcc, :url => { :action => "salva_publicado" },
             :html => { :multipart => true } do |f| %>
    <p>
      <%= f.label :arquivo %>
      <%= f.file_field :arquivo %>
      <% if @tcc.errors.has_key? :arquivo %>
        <div class="error_message">
          <%= @tcc.errors[:arquivo].first %>
        </div>
    <% end %>
    </p>
    <p>
      <%= f.submit "Publicar" %>
    </p>
<% end %>
    </article>
