<%= render partial: "menu", locals: {tipo: 'publicacoes'} %>


<article class="col-sm-9 col-xs-12">

<p class="pull-left visible-xs visible-sm">
  <button type="button" class="navbar-toggle" data-toggle="offcanvas">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="sr-only">Menu</span>
  </button>
</p>

<h1>Publicações de TCC</h1>

<p>Lista dos trabalhos já defendidos. Os TCCs são publicados em nosso site para servirem de exemplos do que se espera de um TCC e de possíveis temas, além de constituem uma boa fonte de informação sobre tópicos específicos e atualizados na área de Sistemas de Informação. Uma dica: se você gostar de algum TCC, procure o professor-orientador daquele TCC e informe-se da possibilidade de dar continuidade ao trabalho ou elaborar um novo projeto seguindo a mesma linha.</p>

  <div id="tag_cloud">
    <% tag_cloud Tcc.tag_counts, %w{s m l} do |tag, css_class| %>
        <%= link_to tag.name, tccs_publicacoes_path(tag: tag.name), class: css_class %>
    <% end %>
  </div>

<ul>
<%@tcc.each do |item| %>
<li class="monografia">
   <%= link_to item.titulo, item.arquivo.url(:original, false),class: "monografiaTitulo" %><br>
<p><<%= raw User.find_all_by_tcc_id(item.id).map { |t| t.nome }.join(',') %>.Orientador <%= @prof.find(item.orientador).nome %>. <%= item.data.to_date.strftime("%d/%m/%Y") %></p>
  <% if !item.tag_list.empty? %>
    <p>Tags: <%= raw item.tag_list.map { |t| link_to t, tccs_publicacoes_path(tag: t) }.join(', ') %></p>
  <% end %>
</li>
<% end %>
</ul>
</article>
<br style="clear: both">
