<%= @tcc.titulo %>
<!--<% if @tcc.errors.any? %>
    <div id="error_explanation">
      <h2>Infelizmente não foi possível completar a ação pois o formulário possui os seguintes erros:</h2>
      <ul>
        <% @tcc.errors.full_messages.each do |message|%>
            <li><%= message %> </li>
        <% end %>
      </ul>
    </div>
<% end %>-->
<%= render partial: "menu", locals: {tipo: 'publicar'} %>
<%= form_for @tcc, :url => { :action => "salva_publicado" },
             :html => { :multipart => true } do |f| %>
    <p>
      <%= f.label :arquivo %>
      <%= f.file_field :arquivo %>
      <% if @tcc.errors.has_key? :arquivo %>
        <div class="error_message">
          <%= @tcc.errors[:arquivo].first %>
        </div>
    <% end %>
    </p>
    <p>
      <%= f.submit "Publicar" %>
    </p>
<% end %>
