<%= render partial: "menu", locals: {tipo: 'show'} %>
<article class="col-sm-9 col-xs-12">
  <p id="notice"><%= notice %> </p>
  <p id="alert"> <%= alert %></p>

  <h1>Meu TCC</h1>
  <p>Titulo: <%= @tcc.titulo %> <br><br>
    Resumo: <%= @tcc.resumo %> <br><br>
    <label style="padding-right: 2px;">Orientador: <%= @tcc.orientador %></label>
    <label style="padding-right: 2px;margin-left: 50px">Coorientador: <%= @tcc.coorientador %></label><br><br>
    <label style="padding-right: 38px;">Data: <%= @tcc.data %></label>
    <label style="padding-right: 2px;margin-left: 91px">Local: <%= @tcc.local %></label><br><br>
    <% if @tcc.id == current_user.tcc_id %>
        <%= button_to "Editar TCC", edit_tcc_path(@tcc),class: "btn btn-default", method: "get", padding: "3px 10px" %>
        <%= button_to "Publicar TCC",tccs_publicar_path(@tcc.id),class: "btn btn-default", method: "get", padding: "3px 10px" %>
    <% end %>
</article>
