<%= render partial: "menu", locals: {tipo: 'show'} %>
<article class="col-sm-9 col-xs-12">
  <p id="notice"><%= notice %> </p>
  <p id="alert"> <%= alert %></p>

  <h1>Meu TCC</h1>
  <p>Título: <%= @tcc.titulo %><br><br>
    Resumo: <%= @tcc.resumo %> <br><br>
    <span style="padding-right: 2px;">Orientador: <%= Professor.find(@tcc.orientador).nome %></span>
    <% if @tcc.coorientador? %>
        <span style="padding-right: 2px;margin-left: 50px">Coorientador: <%= @tcc.coorientador %></span>
    <% end %>
    <br><br>
    <span style="padding-right: 38px;">Data: <%= @tcc.data %></span>
    <span style="padding-right: 2px;margin-left: 91px">Local: <%= @tcc.local %></span><br>
    <% if @tcc.id == current_user.tcc_id %>
        <%= button_to "Editar TCC", edit_tcc_path(@tcc),class: "btn btn-default", method: "get",style:"padding:3px 10px; float:left; margin-right:10px" %>
        <%= button_to "Publicar TCC",tccs_publicar_path(@tcc.id),class: "btn btn-default", method: "get",style:"padding:3px 10px" %>
    <% end %>
</article>
