<%= render partial: "menu", locals: {tipo: 'new'} %>
<article>
  <p id="notice"><%= notice %> </p>
  <p id="alert"> <%= alert %></p>
  <h2>Titulo: <%= @tcc.titulo %> </h2>
  <ul>
    <li>Resumo: <%= @tcc.resumo %> </li>
    <li>Data: <%= @tcc.data %> </li>
  </ul>
  <% unless @tcc.apresentado %>
      <%= link_to 'Editar Tcc', edit_tcc_path(@tcc) %>
      <%= link_to "Publicar Tcc", tccs_publicar_path(@tcc.id) %>
  <% end %>
</article>
