<p id="notice"><%= notice %> </p>
<h2>Titulo: <%= @tcc.titulo %> </h2>
<ul>
  <li>Resumo: <%= @tcc.resumo %> </li>
  <li>Data: <%= @tcc.data %> </li>
</ul>
<%= link_to 'Editar Perfil', edit_tcc_path(@tcc) %>