<aside class="col-sm-3 col-xs-6 sidebar-offcanvas">
  <ul class="menu">
    <li class="<%=verificaMenuAtivo(tipo,"secretaria")%> secretaria">
      <%= link_to "Secretaria", secretaria_path %>
    <li><%= link_to "Transparencia", transparencia_path %></li>
    </li>
    <% if user_signed_in? %>
        <li class=" <%=verificaMenuAtivo(tipo,"novaSolicitacao")%> secretaria">
          <%= link_to "Nova Solicitação", new_solicitation_path %>
        </li>
        <% if current_user.admin? %>
            <li class=" <%=verificaMenuAtivo(tipo,"solicitacoes")%> secretaria">
              <%= link_to "Solicitações", solicitations_path %>
            </li>
            <li class=" <%=verificaMenuAtivo(tipo,"cadastrarTipoSolicitacao")%> secretaria">
              <%= link_to "Cadastrar Tipo de Solicitação", new_solicitacao_tipo_path %>
            </li>
            <li class=" <%=verificaMenuAtivo(tipo,"cadastrar")%> secretaria">
              <%= link_to "Cadastrar Usuário", new_user_path %>
            </li>
            <li class=" <%=verificaMenuAtivo(tipo,"cadastrarProfessor")%> secretaria">
              <%= link_to "Cadastrar Professor", new_professor_path %>
            </li>
            <li class=" <%=verificaMenuAtivo(tipo,"cadastrarTags")%> secretaria">
              <%= link_to "Cadastrar Tags", new_tag_path %>
            </li>
        <% end %>
    <% end %>
  </ul>
</aside>