<% provide(:title, 'Alunos') %>
  <%= render partial: "menu", locals: {tipo: "index"} %>
  <article class="col-sm-9 col-xs-12">

    <h1>Alunos</h1>

    <p>Informações importantes para os alunos que estão ingressando no curso.</p>

    <dl>
      <dt><%= link_to "Matriculados", alunos_matriculados_path %></dt>
      <dd>Lista dos alunos matriculados no curso</dd>
      <dt><%= link_to "Turmas", alunos_turmas_path %></dt>
      <dd>Cada turma listada de acordo com o ano de ingresso e com suas respectivas informações.</dd>
      <dt><%= link_to "Portal do Aluno", alunos_portal_path %></dt>
      <dd>Inscrições em disciplinas, exclusão de disciplinas, histórico escolar e outras tarefas que são efetudas no portal do aluno.</dd>
      <dt><%= link_to "Diretório Acadêmico", alunos_diretorioAcademico_path %></dt>
      <dd>A função do Diretório Acadêmico na faculdade e a sua ligação com os estudantes.</dd>
      <dt><%= link_to "Carteirinha de Estudante", alunos_carteirinha_path %></dt>
      <dd>Processo para retirar a carteira estudantil.</dd>
      <dt><%= link_to "ENADE", alunos_enade_path %></dt>
      <dd>Exame obrigatório para a emissão do histórico escolar no qual avalia o rendimento dos alunos de graduação em relação aos conteúdos programáticos dos cursos em que estão matriculados.</dd>
    </dl>

  </article>

<br style="clear: both">