<h1> SISTEMA BSI </h1>
<p>Olá Bsi,</p>
<p>Temos uma nova apresentação de TCC agendada, do aluno <%= raw User.find_all_by_tcc_id(@tcc.id).map { |t| t.nome }.join(',') %>.</p>

<p>
  Titulo: <%= @tcc.titulo %>
</p>
<p>
  Resumo: <%= @tcc.resumo %>
</p>
<p>
  Resumo: <%=  @tcc.data %>
</p>
<p>
  <%= link_to(@tcc.titulo, tcc_url(@tcc), port:3000) %>
</p>
