<h1><%= @tcc.titulo %> </h1>
<p>Olá Bsi,</p>
<p>Temos uma nova apresentação de TCC agendada, do aluno "ENTRAR NOME DO ALUNO".</p>

<p>
  Titulo: <%= @tcc.titulo %>
</p>
<p>
  Resumo: <%= @tcc.resumo %>
</p>
<p>
  Resumo: <%=  @tcc.data %>
</p>
<p>
  <%= link_to(@tcc.titulo, tcc_url(@tcc), port:3000) %>
</p>
